.main {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to left bottom, #384170 0, #282A36 100%);
    font-family: 'Arial';
    color: white;
}
.main h1 {
    padding-top: 200px;
}
.main img{
    max-width: 75%;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0rem 0rem 1rem 0rem rgba(0, 0, 0, 0.6);
}
.bio p {
    margin: 20px;
}

/* Tablet Portait */
@media only screen and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) and (min-width: 30rem) {
    .main h1 {
        padding-top: 200px;
    }
    .main img{
        width: 50%;
        margin: 0 auto;
        border-radius: 50%;
    }
    .bio {
        display: flex;
        flex-direction: row;
    }
    .bio div {
        margin: 40px 0;
        width: 50%;
    }
    .bio div:first-child {
        border-right: #FF4136 1px solid ;
    }
}

/* Desktop (2k, 4k, 1080p, etc) */
@media only screen and (min-width: 48rem) and (orientation: landscape) {
    .main img{
        width: 256px;
        margin: 0 auto;
        border-radius: 50%;
    }
    .bio {
        display: flex;
        justify-content: center;
    }
    .bio div {
        margin: 40px 0;
        max-width: 25%;
    }
    .bio div:first-child {
        border-right: #FF4136 1px solid ;
    }
}