.main {
    display: flex;
    flex-direction: column;
    background-color:#282A36;
    font-family: 'Arial';
    color: white;
}

.main h1 {
    padding-top: 200px;
    font-size: 55px;
    text-align: center;
}

.main hr {
    margin: 30px 20px;
    border: #FF4136 1px solid;
}

.main img{
    max-width: 75%;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0rem 0rem 1rem 0rem rgba(0, 0, 0, 0.6);
}

.bio p {
    margin: 30px 20px;
    font-size: 1.2rem;
}

@media only screen and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) and (min-width: 30rem) {
    .main h1 {
        padding-top: 200px;
    }

    .main img{
        width: 50%;
        margin: 0 auto;
        border-radius: 50%;
    }

    .bio p {
        font-size: 1.4rem;
    }
}

/* Desktop (2k, 4k, 1080p, etc) */
@media only screen and (min-width: 48rem) and (orientation: landscape) {
    .main img{
        width: 25%;
        margin: 0 auto;
        border-radius: 50%;
    }

    .bio {
        display: flex;
        justify-content: center;
    }

    .bio p {
        width: 50%;
        max-width: 400px;
        margin: 30px 0;
        padding: 0px 20px;
    }

    .bio p:first-child {
        border-right: #FF4136 1px solid;
    }
}