.main {
    margin: 0px auto;
    font-family: 'Arial';
    padding: 100px 0px;
    background-image: linear-gradient(to left bottom, #384170 0, #282A36 100%);

}
.links {
    display: flex;
    justify-content: center;
}
.links li {
    margin: 15px auto;
    font-size: 1rem;
}
.main div:last-child {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.main p {
    margin: 10px;
    font-size: 1rem;
}

@media only screen and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) and (min-width: 30rem) {
    .main {
        display: flex;
        justify-content: center;
    }
    .links {
        width: 50%;
        border-right: #FF4136 1px solid;
    }
    .links li {
        font-size: 1.4rem;
    }
    .main hr{
        display: none;
    }
    .main div:last-child{
        margin: 40px auto;
    }
}

/* Desktop (2k, 4k, 1080p, etc) */
@media only screen and (min-width: 48rem) and (orientation: landscape) {
    .main {
        display: flex;
    }
    .links {
        width: 50%;
        border-right: #FF4136 1px solid;
    }
    .main hr{
        display: none;
    }
    .main div:last-child{
        margin: 40px auto;
    }
}