/* Mobile Portait */
.main {
  display: flex;
  flex-direction: column;
  padding-top: 250px;
  background-image: linear-gradient(to left bottom, #384170 0, #282A36 100%);
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.banner {
  margin: 0 auto;
  font-family: 'arial';
}
.row {
  display: flex;
}
.row:last-child div:last-child {
  margin: 8px auto;
}
.message p {
  margin: 0px 20px 40px 20px;
  text-align: center;
}

/* Tablet Portait */
@media screen and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) and (min-width: 30rem) {
  .wrapper {
    display: flex;
    flex-direction: row;
  }
  .banner {
    flex-basis: 50%;
    border-right: #FF4136 1px solid;
    max-width: 400px;
  }
  .message{
    flex-basis: 50%;
    max-width: 400px;
  }
  .row {
    justify-content: center;
  }
  .row:last-child div:last-child {
    margin: 8px 12px;
  }
  .main hr {
    display: none;
  }
  .message p{
    margin: 0;
    height: 100%;
    padding: 30px;
  }
  .main img {
    margin: 40px auto 0px auto;
    max-width: 768px;
    box-shadow: 0rem 0rem 1rem 0rem rgba(0, 0, 0, 0.6);
  }
}

/* Desktop (2k, 4k, 1080p, etc) */
@media only screen and (min-width: 48rem) and (orientation: landscape) {
  .wrapper {
    flex-direction: row;
    margin: 0 auto;
  }
  .banner {
    flex-basis: 50%;
    border-right: #FF4136 1px solid;
    max-width: 400px;
  }
  .row:last-child div:last-child {
    margin: 8px 20px;
  }
  .message{
    flex-basis: 50%;
    max-width: 400px;
  }
  .message p {
    margin: 20px 0px 20px 40px;
    font-size: 1.2rem;
  }
  .main hr {
    display: none;
  }
  .main img {
    max-width: 768px;
    margin: 80px auto 0px auto;
    box-shadow: 0rem 0rem 1rem 0rem rgba(0, 0, 0, 0.6);
  }
}